<hr>
<div class="row justify-content-md-center">
	<div class="alert alert-success" role="alert">			
		<h4>Calculos realizados exitosamente</h4><a href="/" class="btn btn-info"> <i class="fa fa-home"></i> Inicio</a>	
	</div>

	<table class="table black">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Fecha Ingresada</th>
				<th scope="col">Dias Hábiles a sumar</th>
				<th scope="col">Fecha Resultante</th>
			</tr>
		</thead>
		<tbody>
			<?php for ($i=0; $i < count($data["fecha"]); $i++) { 
				echo '
				<tr>
					<th scope="row">'.($i+1).'</th>
					<td>'.date("d-m-Y",strtotime($data["fecha"][$i])).'</td>
					<td>'.$data["numero"][$i].'</td>
					<td>'.$data["result_date"][$i].'</td>
				</tr>';
			}?>
		</tbody>
	</table>
</div>