<div class="row justify-content-md-center">
     <form id="form_fechas" method="post" action="/calculate/" >
     <hr>
     <div id="alert"></div>
     <?php for ($i=1; $i <= $data['pares']; $i++) {
          echo '<div class="row" style="margin-bottom: 5px;">
     		   <div class="col">
     		        <input name="fecha[]" id="input_'.$i.'" type="date" onchange="checkDate()" class="form-control date-picker" required placeholder="Fecha '.$i.'" size="10">
     		   </div>
     		   <div class="col">
     		        <input name="numero[]" type="number" min="1" class="form-control" placeholder="Número '.$i.'" required>
     		   </div>
     		</div>'; 
     }?>
     <hr>
     <a href="/" class="btn btn-info"> <i class="fa fa-arrow-left"></i> Volver</a>
     &nbsp;&nbsp;
     <button class="btn btn-success"> <i class="fa fa-calculator"></i> Calcular</button>
     </form>
</div>
<script>
//////////////////
//  Post Form   //
//////////////////
$("#form_fechas").submit(function(e)
{       
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    var method = $(this).attr("method");

    $.ajax(
    {
        url : formURL,
        type: method,
        data : postData,        
        success : function(response) {          
               if (response.status == "nok") {
                    $("#alert").html("").append('<div class="alert alert-danger" role="alert">'+response.desc+'<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>');                    
               }else{                    
                    $(".container").hide().html("<img src='/smile.gif'/>").slideDown(200);
                    setTimeout(function(){ $(".container").hide().html(response).slideDown(200); }, 2000);                    
               }            
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            console.log(errorThrown)
        }
    });
    e.preventDefault();      
});
function checkDate()
{	
     var count = 1;
     $("#form_fechas input[type='date']").each(function(){              
     if (this.id != "input_1") {
     	if (this.value != '') {
     	    var input_date = process(this.value);
     	    var below_input = process($("#input_"+(count-1)).val());
     		if (input_date < below_input ) {
                    this.style.backgroundColor = "yellow";
     			alert("La fecha no es mayor a la anterior... \n  Esto solo es un aviso");
     		}else{
                    this.style.backgroundColor = "";
               }
     	}     				
     }
     count++;
     })	
}
function process(date){     		
     return date.replace("-","").replace("-","");     		
}
</script>