<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Test Tionvel</title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/398f77cfa1.js"></script>
    <style>
    body {
        margin: 50px 0 0 0;
        padding: 0;
        width: 100%;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        color: #525252;
        font-size: 18px;
    }

    h1 {
        color: #719e40;
        letter-spacing: -3px;
        font-family: 'Lato', sans-serif;
        font-size: 100px;
        font-weight: 200;
        margin-bottom: 0;
    }
</style>
</head>
<body>
    <h1>Tionvel TEST</h1>
    <div>Developer: <b>Tomás Cornejo C. </b>| Framework: <b>Slim Framework </b></div>        
    <div class="container">        
        <div class="row justify-content-md-center">
            <form id="form_pares" method="post" action="/date/" >
                <hr>
                <div class="row">
                    <div class="col">
                        <input type="number" name="pares" class="form-control" placeholder="Nº Pares" required min="1">
                    </div>
                    <div class="col">
                     <button class="btn btn-success"><i class="fa fa-wpforms"></i> Cargar Formulario</button>
                 </div>
             </div>
         </form>
     </div>
 </div>
</body>
<script>
//////////////////
//  Post Form   //
//////////////////
$("#form_pares").submit(function(e)
{       
    var postData = $(this).serializeArray();
    var formURL = $(this).attr("action");
    var method = $(this).attr("method");
    $.ajax(
    {
        url : formURL,
        type: method,
        data : postData,
        beforeSend: function(){            
            $(".container").html("<div class='text-center' style='margin-top: 5px;'><i class='fa fa-spinner fa-spin' style='font-size:20px;'></i></div>");
        },        
        success : function(response) {
            $(".container").hide().html(response).slideDown(200);    
        },
        error: function(jqXHR, textStatus, errorThrown) 
        {
            console.log(errorThrown)
        }
    });
    e.preventDefault();      
});
</script>
</html>
